.worker_page
    display: flex
    width 100%
.workers_right
    overflow: hidden
    width: 100%
    padding: 3vh 3vw 0 3vw;
    box-sizing: border-box
.worker_header
    display: flex
    justify-content: space-between
.worker_heading
    margin 0
    color: #66FCF1;
    font-family: Inter;
    font-size: 4vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
.profile
    display: flex
    justify-content: center
    align-items: center
    gap 1vw
.profile_left
    display: flex
    flex-direction: column
    align-items: flex-end
.profile_right
    border-radius: 50%
    width: 7vh
    height 7vh
    overflow: hidden
.profile_img
    width: 100%
.name
    font-family: Inter
    margin 0
    color white
    font-size: 2vh
.role_user
    font-family: Inter
    margin 0
    color: #45A29E
.search_control_panel_w
    width: 100%
    margin-top 2vh
    display: flex
    justify-content: space-between
.workers_window
    padding 3vh 1.5vw 0 1.5vw
    box-sizing: border-box
    margin-top 5vh
    width: 100%
    height: 80vh
    background: rgba(31, 40, 51, 0.50)
    border-radius: 0.5vh;
    display: flex
    align-items: center
    flex-direction: column
.gradient_line
    margin-top 1.8vh
    background: linear-gradient(90deg,rgba(108,243,233,0),#6CF3E9,rgba(63,141,135,0));
    height: .1vh
    width: 100%
.worker_space
    overflow-y: scroll
    height: 80%
    width: 100%
    margin-top 2vh
    display: flex
    gap: 4vh
    flex-direction: column
.worker_space::-webkit-scrollbar {
  display: none
}

