.dash_board_space
    width 100%
    display: flex

.dash_header
    display: flex
    justify-content: space-between

.profile
    display: flex
    justify-content: center
    align-items: center
    gap 1vw
.profile_left
    display: flex
    flex-direction: column
    align-items: flex-end
.profile_right
    border-radius: 50%
    width: 7vh
    height 7vh
    overflow: hidden
.profile_img
    width: 100%
.name
    font-family: Inter
    margin 0
    color white
    font-size: 2vh
.role_user
    font-family: Inter
    margin 0
    color: #45A29E


.dash_board
    overflow: hidden
    width: 100%
    padding: 3vh 3vw 9vh 3vw;
    box-sizing: border-box
.page_heading
    color: #66FCF1;
    font-family: Inter;
    font-size: 4vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin 0

.work_space
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap 4vh
    width: 100%
    height: 100%
.graph
    border-radius: 0.5vh
    width: 90%
    height: 38vh
    background: #171C23
.sub_menu
    width: 90%

    display: flex
    justify-content: space-between
.truck_menu
    padding: 3vh 0
    box-sizing: border-box
    overflow-y: scroll
    display: flex
    align-items: center
    flex-direction: column
    border-radius: 0.5vh
    background: #171C23
    width: 30vw
    height 39vh
    gap 2vh

.truck_menu::-webkit-scrollbar
    background: #474B51
    width: .7vw
    border-radius: 1vh
.truck_menu::-webkit-scrollbar-thumb {
    background-color: #5CE0D7;
    border-radius: 20px;
    border: 3px solid #474B51;  /* creates padding around scroll thumb */

}
.notification_menu
    border-radius: 0.5vh

    background: #171C23
    height: 39vh
    width: 20vw
.last_menu
    border-radius: 0.5vh

    background: #171C23
    height: 39vh
    width: 25vw
